@tailwind base;
@tailwind components;
@tailwind utilities;



[role=navigation] > li {
    font-size: large;
    background-color: #29c6f3;
    border-radius: 5px;
    height: 30px;
    width: 50px;
    text-align: center;
    margin: 15px;
}
[role=navigation] > li:hover {
    background-color: #78e2ff;
    font-size: medium;
    height: 30px;
    width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
    scroll-behavior: smooth;
}

[role=navigation] li > a {

    background-image: url("data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
    <path strokeLinecap="round" strokeLinejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" /></svg>")
}